$violet: hsl(257, 40%, 49%);
$softMagenta: hsl(300, 69%, 71%);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: $violet;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    min-height: 100vh;
}

.container {
    max-width: 1440px;
    width: 95%;
    margin: 20px auto;
    padding: 15px;
}

header {
    .logo {
        width: 100px;
    }
}

main {
    text-align: center; 
}

.top-section {
    margin-bottom: 80px;

    .top-section__left {
        margin-bottom: 30px;

        img {
            width: 90%;
        }
    }

    .top-section__right {
        margin-bottom: 30px;

        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 1.7em;
            font-weight: 600;
            margin-bottom: 20px;
        }

        p {
            font-size: 1em;
            margin-bottom: 20px;
            line-height: 1.5;
            font-weight: 400;
        }

        .top-section__btn {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            text-decoration: none;
            color: $violet;
            background-color: white;
            padding: 15px 25%;
            border-radius: 50px;
            margin-top: 10px;
            display: inline-block;
            box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.15);
            transition: all 0.2s ease-in-out;

            &:hover, &:focus {
                background-color: $softMagenta;
                color: white;
                box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.30);
            }
        }
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    
    a {
        text-decoration: none;
        border: 1px solid white;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        display: grid;
        transition: all 0.2s ease-in-out;
        color: white;

        i {
            margin: auto;
            font-size: 1em;
            font-weight: 200;
        }

        &:hover, &:focus {
            border-color: $softMagenta;
            color: $softMagenta;
        }
    }
}

footer {
    .attribution {
        font-size: 11px;
        text-align: center;
        margin-bottom: 20px;
    
        a {
            color: white;

            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }
}


@media screen and (min-width: 630px) {
    body {
        background-image: url(./images/bg-desktop.svg);
        background-size: cover;
    }

    header .logo {
        width: 200px;
    }

    main {
        text-align: left;
    }

    .top-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
        column-gap: 50px;
        justify-content: center;
        align-items: center;

        .top-section__left img {
            width: 100%;
        }

        .top-section__right {
            .top-section__btn {
                padding: 15px 15%;
            }
        }
    }

    .social-icons {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 870px) {
    .top-section {
        grid-template-columns: 7fr 5fr;

        .top-section__right h1 {
            font-size: 2.3em;
            line-height: 1.7;
        }
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 90%;
    }

    .top-section .top-section__right p {
        font-size: 1.1em;
        line-height: 1.7;
    }
}