*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-color: #674baf;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  width: 95%;
  margin: 20px auto;
  padding: 15px;
}

header .logo {
  width: 100px;
}

main {
  text-align: center;
}

main .top-section {
  margin-bottom: 80px;
}

main .top-section .top-section__left {
  margin-bottom: 30px;
}

main .top-section .top-section__left img {
  width: 90%;
}

main .top-section .top-section__right {
  margin-bottom: 30px;
}

main .top-section .top-section__right h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  margin-bottom: 20px;
}

main .top-section .top-section__right p {
  font-size: 1em;
  margin-bottom: 20px;
  line-height: 1.5;
}

main .top-section .top-section__right .top-section__btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-decoration: none;
  color: #674baf;
  background-color: white;
  padding: 12px 25%;
  border-radius: 50px;
  margin-top: 10px;
  display: inline-block;
  -webkit-box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main .top-section .top-section__right .top-section__btn:hover {
  background-color: #e882e8;
  color: white;
  -webkit-box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.3);
}

main .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

main .social-icons a {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: white;
}

main .social-icons a i {
  margin: auto;
  font-size: 1em;
  font-weight: 200;
}

main .social-icons a:hover {
  border-color: #e882e8;
  color: #e882e8;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px;
}

footer .attribution a {
  color: white;
}

@media screen and (min-width: 630px) {
  body {
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
  }
  header .logo {
    width: 150px;
  }
  main {
    text-align: left;
  }
  main .top-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 6fr;
        grid-template-columns: 6fr 6fr;
    margin-bottom: 20px;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .top-section .top-section__left img {
    width: 100%;
  }
  main .top-section .top-section__right .top-section__btn {
    padding: 12px 15%;
  }
  main .social-icons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 870px) {
  main .top-section {
    -ms-grid-columns: 7fr 5fr;
        grid-template-columns: 7fr 5fr;
  }
  main .top-section .top-section__right h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */